{% extends "chat/base.html"%}
{%block content%}
<div class="content-change-pwd">
    <h2>Change Password</h2>
    <div class="flex-bx">
        <form method="POST" action="{% url 'Chat:changepassword'%}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Change Password</button>
        </form>
        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
    </div>    
</div>
{%endblock%}

{% block script %}
<script>
    let label = document.querySelectorAll('label');
    label[1].innerHTML = "New password:"
    label[2].innerHTML = "Confirm password:"
</script>
{% endblock %}